.header{
  background-color: aqua;
  height: 65px;
}

.container{
  display: flex;
  
}

.nav{
  background-color: rgb(196, 196, 238);
  width: 20%;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles{
  display: flex;
  /* justify-content: space-around; */
  width: 80%;
  border: black 1px solid;
  flex: 1;
  background-color: aliceblue;
 

}

.private-art{
  border: black 1px solid;
  width: 50%;
  text-align: center;

}
.public-art {
  background-color: aliceblue;
  width: 50%;
  text-align: center;


}