.header{
  background-color: aqua;
  height: 65px;
}

.container{
  display: flex;
  
}

.nav{
  background-color: rgb(196, 196, 238);
  width: 20%;
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles {
  display: flex;
  justify-content: space-around;
}
  .main {
    display: flex;
  }
  
  .nav {
    width: 20%;
    background-color: #b4bed1;
  }
    
  .content {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: #7e94c1;
    height: calc(100vh - 50px);
  }
  
  .header {
    height: 50px;
    background-color: #4363a2;
  }